<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h1>Welcome</h1>
	<% if(isLoggedIn==1){ %>
		<li><a href="/logout">Logout!</a></li>
	<% }else{ %>
		<li><a href="/login">Login!</a></li>
		<li><a href="/register">SignUP</a></li>
	<% } %>
	<% for(var i=0; i < outlets.length; i++) { %>
		<div>
			<p>Name: <%= outlets[i]["name"] %></p>
			<p>About: <%= outlets[i]["about"] %></p>
			<p>Address: <%= outlets[i]["address"] %></p>
			<p>Cusine: <%= outlets[i]["cusine"] %></p>
			<p>Phone: <%= outlets[i]["phone"] %></p>
			<hr>
		</div>
	<%}%>
</body>
</html>