<h2>After the user logs in, we'd display them the recommendations</h2>
<li><a href="/">Home</a></li>
<li><a href="/logout">Logout</a></li>

<p>Plan a trip with friends</p>
<form action="/friends" method="post">
	<div id="divMoreFriend">
		<input type="text" name="friends[]" placeholder="username of friend">
	</div>
	<button id="addMoreFriends" type="button" onclick="addInput('divMoreFriend')">Add another friend</button>
	<button>Plan</button>
</form>

<p>Your location: </p>

<% if(location.name){ %>
<p><%=location.name%></p>
<% }else{ %>
<p><%=location.latitude%>,<%=location.longitude%></p>
<%}%>
<p>Your given ratings are: </p>
<p><%= ratings %></p>
<form action="/editRatings/?_method=PUT" method="post">
	<input type="text" name="id" placeholder="id of outlet">
	<input type="text" name="rating" placeholder="rating of that outlet"> 
	<button>Edit!</button>
</form>

<form id="changeLocation" action="/editLocation/?_method=PUT" method="post">
	<input id="locationName" style="display:none" type="text" name="locationName">
	<input id="lat" style="display:none" type="text" name="latitude">
	<input id="long" style="display:none" type="text" name="longitude">
	<button id="getLocation" type="button">Get Location</button>
</form>

<% if(learntData.length==0){ %>
   <h3>Please rate atleast 4 restaurants to receive recommendations</h3>
 <% } else{ %>  
   <p>Your predicted ratings are: </p>
	<% for(var i=0; i < learntData.length; i++) { %>
			<div>
				<p><%= learntData[i][2] %> is predicted to be <%= learntData[i][1] %> </p>
			</div>
		<%}%>
<% } %>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script type="text/javascript">
	$("#getLocation").click(function(){
		navigator.geolocation.getCurrentPosition(function(position) {
		  $("#lat").val(position.coords.latitude)
		  $("#long").val(position.coords.longitude)
		  $.getJSON("https://maps.googleapis.com/maps/api/geocode/json?latlng="+position.coords.latitude+","+position.coords.longitude+"&key=AIzaSyD5Rds-FEP3YaTUZ4H5R22wR7WACcua1f4",function(data){
		  	console.log(data.results[0].formatted_address)
		  	$("#locationName").val(data.results[0].formatted_address)
		  	console.log("sum")
		  	$("#changeLocation").submit()
		  })
		});
	})
</script>
<script type="text/javascript">
	function addInput(divName){
      var newdiv = document.createElement('div');
      newdiv.innerHTML = "<input type='text' name='friends[]' placeholder='username of friend'>";
      document.getElementById(divName).appendChild(newdiv);
}
</script>